<ul class="bookmarks">
    {% for bkm in bookmarks %}
        <li>
            <a class="header" href="{{ bkm.url }}">
                <h3 class="description">
                    {{ bkm.description|truncate(50, killwords=True) }}
                </h3>
                <span class="url">
                    {{ bkm.url|truncate(50, killwords=True) }}
                </span>
            </a>
            <div class="info">
                <span class="tags">
                    {% if bkm.tags %}
                        {% for t in bkm._tags %}
                            <a href="#">{{ t.name }}</a>
                        {% endfor %}
                    {% endif %}
                </span>
                <br>
                Added by <a href="{{ url_for("user", username=bkm.user.username) }}">
                {{ bkm.user.username }}
            </a>
                {{ moment(bkm.date).fromNow() }}.

                {% if current_user == bkm.user %}
                    <span class="editlinks">
                        <a href="{{ url_for("editbookmark", bookmark_id=bkm.id) }}">Edit Bookmark</a>
                    </span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>