{% extends "base.html" %}

{% block title %}
    Thermos --- A microbookmark Site
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Thermos is a simple bookmarking website with all MVC pattern implemented for learning flask.</p>
            <p> Don't have an account, create one by <a href="{{ url_for("signup") }}">Signup</a></p>
        </header>
        <section>
            <h2>Recently Added</h2>
            {% if newbookmarks.count() > 0 %}
{#                <ul>#}
{#                    {% for bm in newbookmarks %}#}
{#                        <li>#}
{#                            <a href="{{ url_for("user", username=bm.user.username) }}">{{ bm.bkmrkusername }}#}
{#                        </a> Added <a href="{{ bm.url }}">{{ bm.description }}</a></li>#}
{#                    {% endfor %}#}
{#                </ul>#}

                {% with bookmarks=newbookmarks %}
                    {% include "bookmark_list.html" %}
                {% endwith %}
            {% else %}
                No Bookmarks added yet.
            {% endif %}
        </section>
        <section>
            <h2>Title: {{ title }}</h2>
            <p>Text: {{ text }}</p>
            <p>Username: {{ user.username}}, Email: {{ user.email }}</p>
        </section>

    </article>
{% endblock %}